html, body {background-color:#ffffff !important;}
.bottom_copy {margin:20px 0 0 0; padding:0; border-top:#2b2b2b 2px solid}
#top{ width:1010px;}
#top .socicon-2{ margin-top:10px;}

/* Responsive
-------------------------------------------------- */
@media (max-width: 320px) {
#top{ width: 100%; padding:0;}
 nav ul,.info-text,.promo-area-slider,.post-format,.blog-meta    { display: none; }
 nav { margin:0 0 25px 0; }
 nav select { display: inline-block; }
.nivo-caption,.nivo-directionNav {display:none !important; }
.container{padding-left: 20px;padding-right: 20px;}
#price .block,#price2 .block,#price3 .block{ width:100%; margin:20px 0; display:inline-block;}
#pagehead small,.nivo-caption,.promo-slogan,.promo-slogan-buy{display:none !important;}
.port-info-wrap{ left:0 !important; top:0 !important;}
.port-info-wrap, .port-info,.port-info-front{ width:100% !important; height:100% !important;}
.port-item, .port-info-wrap, .port-info, .port-info > div,.port-info-front{-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.basis{ padding:0;}
.basis-footer{padding:0px;}
.blog-meta .data .month{ font-size:7px }
.blog-meta .data .day{ font-size:12px }
.blog-meta .data .year{ font-size:7px }
iframe,input.search-query{ width:100%}
article{ margin-bottom:20px;}
.clients_block .span2{margin-bottom:10px;}
.clients_block > a{ text-align:center; }
#footers h3{ display:inline-block}
.bottom_copy {margin:0; padding:0; margin-top:20px; background:none;border-top:#2b2b2b 2px solid;}
.span3.item-block{ width:120px; height:120px; margin-left:9px !important; margin-top:9px !important;}
.span3.item-block .port-info-front,.span3.item-block .port-item { background:no-repeat center center;background-size: 120px 120px;}
.port-info-wrap{ box-shadow:none !important;}
.span3.item-block .port-info-back p{ display:none;}
.span3.item-block .port-info-back h3{ padding-top:5px;}
.span3.item-block .port-info-back h3 a{ font-size:12px; padding-top:0;}
#filters { display:none;}
}

@media (max-width: 480px) {
#top{ width: 100%; padding:0;}
 nav ul,.info-text,.promo-area-slider,.post-format,.blog-meta    { display: none; }
 nav { margin:0 0 25px 0; }
 nav select { display: inline-block; }
.nivo-caption,.nivo-directionNav {display:none !important; }
.container{padding-left: 20px;padding-right: 20px;}
#price .block,#price2 .block,#price3 .block{ width:100%; margin:20px 0; display:inline-block;}
#pagehead small,.nivo-caption,.promo-slogan,.promo-slogan-buy{display:none !important;}
.port-info-wrap{ left:0 !important; top:0 !important;}
.port-info-wrap, .port-info,.port-info-front{ width:100% !important; height:100% !important;}
.port-item, .port-info-wrap, .port-info, .port-info > div,.port-info-front{-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.basis{ padding:0;}
.basis-footer{padding:0px;}
.blog-meta .data .month{ font-size:7px }
.blog-meta .data .day{ font-size:12px }
.blog-meta .data .year{ font-size:7px }
iframe,input.search-query{ width:100%}
article{ margin-bottom:20px;}
.clients_block .span2{margin-bottom:10px;}
.clients_block > a{ text-align:center; }
#footers h3{ display:inline-block}
.bottom_copy {margin:0; padding:0; margin-top:20px; background:none;border-top:#2b2b2b 2px solid;}
.span3.item-block{ width:120px; height:120px; margin-left:9px !important; margin-top:9px !important;}
.span3.item-block .port-info-front,.span3.item-block .port-item { background:no-repeat center center;background-size: 120px 120px;}
.port-info-wrap{ box-shadow:none !important;}
.span3.item-block .port-info-back p{ display:none;}
.span3.item-block .port-info-back h3{ padding-top:5px;}
.span3.item-block .port-info-back h3 a{ font-size:12px; padding-top:0;}
#filters { display:none;}
}



@media (min-width: 480px) and (max-width: 767px) {
#top{ width: 100%; padding:0;}
.info-text,.promo-area-slider    { display: none; }
.container{padding-left: 20px;padding-right: 20px;}
#price .block,#price2 .block,#price3 .block{ width:100%; margin:20px 0; display:inline-block;}
#pagehead small,.promo-slogan,.promo-slogan-buy{display:none !important;}
.port-info-wrap{ left:0 !important; top:0 !important;}
.port-info-wrap, .port-info,.port-info-front{ width:100% !important; height:100% !important;}
.port-item, .port-info-wrap, .port-info, .port-info > div,.port-info-front{-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.basis{ padding:0;}
.basis-footer{padding:0px;}
iframe,input.search-query{ width:100%}
article{ margin-bottom:20px;}
.clients_block{ width:100%}
.clients_block .span2{margin-bottom:10px; width:154px; float:left;}
.clients_block > a{ text-align:center; }
#footers h3{ display:inline-block}
.basis{padding:0 10px !important; margin-top:0px;}
.basis-footer{padding:0 10px !important;margin-bottom:0px;}
.bottom_copy {margin:0; padding:0; margin-top:20px; background:none;border-top:#2b2b2b 2px solid;}
.span3.item-block{ width:120px; height:120px; margin-left:9px !important; margin-top:9px !important;}
.span3.item-block .port-info-front,.span3.item-block .port-item { background:no-repeat center center;background-size: 120px 120px;}
.port-info-wrap{ box-shadow:none !important;}
.span3.item-block .port-info-back p{ display:none;}
.span3.item-block .port-info-back h3{ padding-top:5px;}
.span3.item-block .port-info-back h3 a{ font-size:12px; padding-top:0;}
#filters { display:none;}
}



@media (min-width: 768px) and (max-width: 980px) {
#top{ width: 100%; padding:0;}
.container{padding-left:0px;padding-right: 0px;}
.info-text,.promo-area-slider    { display: none; }
#price .block,#price2 .block,#price3 .block{ width:100%; margin:20px 0; display:inline-block;}
#pagehead small,.promo-slogan,.promo-slogan-buy{display:none !important;}
.port-info-wrap{ left:0 !important; top:0 !important;}
.port-info-wrap, .port-info,.port-info-front{ width:100% !important; height:100% !important;}
.port-item, .port-info-wrap, .port-info, .port-info > div,.port-info-front{-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.basis{padding:0 10px !important; margin-top:0px;}
.basis-footer{padding:0 10px !important;margin-bottom:0px;}
.bottom_copy {margin:0; padding:0; margin-top:20px; background:none;border-top:#2b2b2b 2px solid;}
}


@media (max-width: 980px) {



}

/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {


}

