.header {
	top: 28px;
	left: 115px;
	z-index: 100;
	display: block;
}
ul.clientlist li {
	margin-top: 10px;
	line-height: 30px;
	font-size: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}
ul, ol {
    margin: 0 1em 1.5em 0;
    padding-left: 0;
}